.lightBody{
	z-index: -1;
	background-color: #EEEDE7;
}

/* Navigation Bar */
.navbarLight {
	/* background-color: #960018; */
	background-color: #E0B3BA;
}

/* navbar links */
.navbarLightA {
	color: #960018;
}

/* hoverNavBar */
.navbar-hover-light:hover {
	background-color: #f1dde0;
}

/* Breadcrumb Bar */
.bcbarLight {
	background-color: #C4707D;
}

/* hoverBcBar */
.bcbar-hover-light:hover {
	background-color: #B54C5C;
}

/* text colour */
.textLight {
	color: #960018;
}

/* footer */
.footerLight {
	background-color: #E0B3BA;
	background-image: url("/assets/backgroundImages/foodIconsLight.png");
}

/* footer items */
.footerItemsLight {
	color: #960018;
}

/* footer line */
.verticalFooterLineLight {
	border-left: 2px solid #960018;
}