/* samsung note 9 dimensions */
@media screen and (max-width: 720px) { 
	.imageZoom img {
		width: 3rem;
		height: 3rem;
		border-radius: 24px;
		transition: 0.3s all ease-in-out;
	}

	.recipeCard p {
		text-align: center;
		font-size: 0.8rem;
		margin: 10px;
		overflow-wrap: break-word;
	}
}

/* samsung note 9 dimensions */
@media screen and (max-width: 720px) { 
	.footerDivs {
		display: inline;
		margin: auto 1.7rem auto 1.7rem;
		padding: 2rem;
	}
}
