/* NAVBAR */
.navbar {
	padding: 5px;
	margin: auto;
	font-size: 1.3em;
	color: white;
}

.navbarNight {
	background-color: #262a3b;
}

.navbarLight {
	background-color: #960018;
}

/* NAVBAR HOME */
.home-group {
	padding: 10px;
}

.navbar-right {
	text-align: center;
}

.navbar-right>ul {
	/* ul selector */
	display: flex;
	flex-direction: row;
	text-align: center;
	margin: 0;
}

.shoppingList, .mealPlan {
	padding: 5px;
	display: inline;
}

.toggle-hover-state:hover,
.home-group:hover {
	border-radius: 5px;
	transition: 0.3s ease;
}

.navbar-hover-night:hover {
	background-color: #515462;
}

.navbar-hover-light:hover {
	background-color: #ca000f;
}

.navbar-right>ul>li>div>a {
	color: white;
}