.nightBody{
	z-index: -1;
	background-color: #4B4D4F;
}

/* Navigation Bar */
.navbarNight {
	background-color: #262a3b;
}

/* navbar links */
.navbarNightA {
	color: white;
}

/* hoverNavBar */
.navbar-hover-night:hover {
	background-color: #515462;
}

/* Breadcrumb Bar */
.bcbarNight {
	background-color: #707070;
}

/* hoverBcBar */
.bcbar-hover-night:hover {
	background-color: #525252;
}

/* footer */
.footerNight {
	background-color: #707070;
	background-image: url("/assets/backgroundImages/foodIconsNight.png");
}
