@font-face {
	font-family: "Proxima Nova";
	src: local("Proxima Nova Reg"),
		url("assets/fonts/Proxima Nova Reg.otf") format("opentype");
}

@font-face {
	font-family: "Quenda Medium";
	src: local("Quenda Medium"),
		url("assets/fonts/Quenda Medium.otf") format("opentype");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quenda Medium', 'Segoe UI', 'Calibri';
}

body {
	z-index: -1;
	background-color: #4B4D4F;
	line-height: normal;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}