@font-face {
	font-family: "Proxima Nova";
	src: local("Proxima Nova Reg"),
		url("assets/fonts/Proxima Nova Reg.otf") format("opentype");
}

@font-face {
	font-family: "Quenda Medium";
	src: local("Quenda Medium"),
		url("assets/fonts/Quenda Medium.otf") format("opentype");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', 'Segoe UI', 'Calibri';
	font-weight: 500;
}

body {
	z-index: -1;
	line-height: normal;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

i { 
	height: 25px;
	width: 25px;
}


/* BODY CONTENT: RECIPES */
.mealBar {
	display: flex;
	padding: 30px 100px 0px 100px;
	justify-content: space-between;
}

.viewMore {
	display: inline;
	text-align: center;
}

.mealTitle {
	display: inline;
}

.recipeDiv {
	padding: 30px 60px;
}

.recipeCard p {
	text-align: center;
	font-size: 1.2em;
	margin: 10px;
}

.imageZoom {
	overflow: hidden;
	border-radius: 24px;
}

.imageZoom img {
	width: 200px;
	height: 200px;
	border-radius: 24px;
	transition: 0.3s all ease-in-out;
}

.imageZoom:hover img{
	transform: scale(1.3);
}

/* end of BODY CONTENT: RECIPES */





/* FOOTER */
footer {
	height: 270px;
	border-radius: 24px 24px 0px 0px;
	background-repeat: repeat-x ;
	display: flex;
	flex-shrink: 0;
}

.footer-container {
	display: flex;
	margin: 30px;
}

.footerBENTO {
	font-size: 32px;
	font-family: 'Rubik';
	font-weight: bold;
	display: flex;
}

.footerDivs {
	text-align: center;
	display: inline;
}

.footerIcons {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footerIcons img {
	display: flex;
	margin: 12px;
}

/* end of FOOTER */