/* BCBAR */
.bcbar {
	z-index: 9;
	padding: 0.4rem;
	margin: auto;
	font-size: 1.1em;
	color: white;
	display: flex;
	position: relative;
	width: calc(100vw - (100vw - 100%));  /* exclude scrollbar width , help from here: https://stackoverflow.com/questions/33606565/is-it-possible-to-calculate-the-viewport-width-vw-without-scrollbar*/
	justify-content: space-between;
}


/* BCBAR DATETIME */
.datetime-group {
	margin-left: 20px;
	padding: 10px;
}


/* BCBAR view-all-recipes, manage-recipes */
.bcbar-right {
	text-align: center;
	margin: auto 0;
}

.bcbar-right>ul {
	/* ul selector */
	display: flex;
	flex-direction: row;
	text-align: center;
	margin: 0;
}

.bcbar-right>ul>li>div>a {
	color: white
}

.bcbar-right {
	padding-right: 30px;
	position: relative;
}

.float-right {
	margin-right: 40px;
}

/* ipad air dimensions */
@media screen and (max-width: 880px) {
	.bcbar {
		z-index: 9;
		padding: 0.4rem;
		margin: auto;
		font-size: 0.9em;
		color: white;
		display: flex;
		position: relative;
		width: calc(100vw - (100vw - 100%));  /* exclude scrollbar width , help from here: https://stackoverflow.com/questions/33606565/is-it-possible-to-calculate-the-viewport-width-vw-without-scrollbar*/
		justify-content: space-between;
	}
}