/* NAVBAR */
.navbar {
	padding: 0.4rem;
	margin: auto;
	font-size: 1.3em;
	color: #960018;
	width: calc(100vw - (100vw - 100%));  /* exclude scrollbar width , help from here: https://stackoverflow.com/questions/33606565/is-it-possible-to-calculate-the-viewport-width-vw-without-scrollbar*/
	position: relative;
	display: flex;
	top: 0;
}

/* NAVBAR HOME */
.home-group {
	margin-left: 20px;
	padding: 10px;
}

.navbar-right {
	text-align: center;
}

.navbar-right>ul {
	/* ul selector */
	display: flex;
	flex-direction: row;
	text-align: center;
	margin: 0;
}

.shoppingList, .mealPlan {
	padding: 5px;
	display: inline;
}

.hoverNav{
	padding: 10px;
}

.hoverNav:hover,
.home-group:hover {
	border-radius: 5px;
	transition: 0.3s ease;
}

/* .navbar-right>ul>li>div>a {
	color: white;
} */