.nightBody{
	z-index: -1;
	background-color: #292924;
}

/* Navigation Bar */
.navbarNight {
	background-color: #262a3b;
}

/* navbar links */
.navbarNightA{
	/* color: white; */
	color:#e3405b;
}

/* hoverNavBar */
.navbar-hover-night:hover {
	background-color: #515462;
}

/* Breadcrumb Bar */
.bcbarNight {
	background-color: #404040;
}

/* hoverBcBar */
.bcbar-hover-night:hover {
	background-color: #606060;
}

/* text colour */
.textNight {
	/* color: white; */
	color: #e3405b;
}

/* footer */
.footerNight {
	background-color: #404040;
	background-image: url("/assets/backgroundImages/foodIconsNight.png");
}

/* footer items */
.footerItemsNight {
	color: #e3405b;
}

/* footer line */
.verticalFooterLineNight {
	border-left: 2px solid #e3405b;
}