@media print {
    .navbar, .bcbar, #windowWarning, .mobile-nav, footer {
        display: none;
    }

    .mealPlanContent {
        display: block;
    }

    .shopList li > span:nth-child(2) {
        display: inline;
    }

    .shopList {
        list-style: none;
    }

    .shopList li > span:nth-child(4) {
        /* refers to edit in shopping list */
        display: none;
    }

    #ingredModal, .mealPlanHoriLine, .mealPlanLabel, .printShopList {
        display: none;
    }
}